*{
    margin: 0%;
    padding: 0;
    font-family:Poppins;
    overflow:;

}
body{
    overflow-x: hidden;
    background: black;
}

#sec1{
    background-image: url(pexels-apasaric-1820770.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
#secon{
    color: white;
    text-align: center;
    position: relative;
    top: 100px;
    font-size: 58px;
    
}
#subcon{
    color: rgba(255, 255, 255, 0.669);
    position: relative;
    top: 110px;
    text-align: center;
    font-size: 20px;
}

#sec{
    
    background:black;
    height: 75px;
    font-size: 10px;
    position: relative;
    padding:px;
}
#head{
    color: white;
    position: relative;
    top: 21px;
    left: 200px;
    font-size: 35px;
}
#span1{
    color: #ffc451;
}
.active{
    color: #ffc451;
}
.fa-bars{
    display: none !important;

}
.opt{
    text-decoration: none;
    font-size: 20px;
}
#menu{
    position: absolute;
    left: 28%;
    top: 30px;
    padding-left: 40px;
    
    
}
a{
    color: white;
    text-decoration: none;
}


#lii{
    display: inline;
    padding: 10px;
}
#opt{
    text-decoration: none;
    font-size: 20px;
    color:rgba(255, 255, 255, 0.669);
    position:
    
}
#but{
    position: absolute;
    background: black;
    width: 190px;
    font-size: 20px;
    cursor: pointer;
    padding: 4px;
    color: white;
    left: 80%;
    top: 25px;
    border:solid 1px  #ffc451;
    border-radius: 2px;


}
#but:hover{
    background: #ffc451;
    color: black;
}
#opt:hover{
    color: #ffc451
}
#but2{
    cursor: pointer;
    position: relative;
    top: 140px;
    left: 656px;
    background: rgba(255, 255, 255, 0);
    font-size: 20px;
    padding: 10px;
    color: white;
    border:solid 2px  #ffc451;
    border-radius: 2px;
}
.box{
    display: inline-block;
    width: 28%;
    border: solid 2px orange;
    background: black;
    color: white;
    margin: 20px;
    text-align: center;
    padding: 10px;
    margin-left: 35px;
    cursor: pointer;

}
.servi{
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 30px;
}

.services{
    background: black;
}
.boxone:hover{
    background: orange;
    color:black; 
}
.boxtwo:hover{
    background: orange;
    color:black; 
}
.boxthree:hover{
    background: orange;
    color:black; 
}
.servicenum{
    font-size: 35px;

}
.servicename{
    margin: 20px
}
.servicenum2{
    font-size: 35px;

}
.servicename2{
    margin: 20px
}
.servicenum3{
    font-size: 35px;

}
.servicename3{
    margin: 20px
}
.cont{
    background: black;
    
    margin:30px ;
    color: white;
    text-align: center;
}
.section1{
    display: flex;
    background: black;
}
.maps{
    margin-left: 140px;
    margin
}
.left{
    margin-left: 90px;
    flex: 1;
}
.right{
    
    flex: 2.7;
}
#detail{
    margin-left: 40px;
    display: flex;
    margin: 50px;
}

.fa-solid{
    margin-top: 5px;
    border-radius: 4px;
    background: #ffc451;
}

.fa-location-dot{
    font-size: 24px;
    border: #ffc451;
    background: ;
    color: black;
    border-radius: px;
    padding: 8px;
    height: 18px;
    
}
.fa-phone{
    font-size: 19px;
    border: #ffc451;
    background:;
    columns: black;
    border-radius: px;
    padding: 8px;
    height: 17px;
}
.fa-envelope{
    font-size: 19px;
    border: #ffc451;
    background: #ffc451;
    columns: black;
    border-radius: px;
    padding: 8px;
    height: 17px;
}
.add{
    margin-left: 20px;
}
.add2{
    margin-left: 20px;

}
.add3{
    margin-left: 20px;
}
.one{
    color: white;
}
.two{
    color: gray;
}
.input{
    margin-top: 30px;
}
#inp1{
    width:370px;
    height: 40px;
    margin-left:200px;
}
#inp2{
    width: 370px;
    margin-left: 34px;
    height: 40px;
}
#inp3{
    width:782px;
    height: 40px;
    margin-left:200px;
}
#inp4{
    width:782px;
    height: 40px;
    margin-left:200px;
    height: 100px;
    padding: 4px;
}
.bt3{
    margin-left: 550px;
    margin-top: 15px;
    background: rgb(248, 189, 81);
    padding: 9px;
    border: #ffc451;
    border-radius: 3px;
}

 

#post-footer{
    display:flex;
    position: relative;
    background: rgb(42, 40, 40);
    color: white;
    padding-left:35px;
    
    
}
.foot{
    margin: 20px;
}

.resname{

    color: orange;
}
.footerbox{
     flex: 2;
    
}
.footerbox2{
    flex: 1;
}
.ourservices{
    flex: 1;
}




.footmenu{
    
    list-style-type: none;
    line-height: 40px; 
}
.footmenu:hover{
    color: orange;
}
.pho:hover{
    color: orange;
}
.ourservices{
    /* height: 5%;
    width: 20%; */
   

}
.newsletter{
    /* height: 25%;
    width: 20%;
      */}
.footmenu2{
    /* margin-left: 50px;
    margin-bottom: 11px;
    padding: 6px;
    background: rgb(42, 40, 40);
    border-radius: 5px; */
  
}
.footmenu3{
   margin-top: 10px;
    padding: 6px;
    background: rgb(42, 40, 40);
    border-radius: 5px;
    border: 2px solid rgb(75, 68, 68) ; 
    cursor: pointer;
    color: white; 
}
.footbutton{
    position: relative;
    padding: 6px;
    right: 5px;
    color: white;
    background: orange;
    border: solid 2px orange;
    border-radius: 5px;
    cursor: pointer;
     
    
}
.icon{
}
.fa-brands{
    border: 2px solid white;
    border-radius: 100%;
    margin: 7px;
    position: relative;
    left: -8px;
    top: 2px;
}
.fa-facebook{
    padding: 8px;
}
.fa-linkedin{
    padding: 8px;
}
.fa-twitter{
    padding: 8px;
}
.fa-instagram{
    padding: 8px;
}

.fa-facebook:hover{
    color:#ffc451;
    border: 2px solid orange;
}
.fa-twitter:hover{
    color:#ffc451;
    border: 2px solid orange;
}
.fa-linkedin:hover{
    color:#ffc451;
    border: 2px solid orange;
}
.fa-instagram:hover{
    color:#ffc451;
    border: 2px solid orange;
}
.footbutton:hover{
    color: black;
    background: gray;
    border: 2px solid gray;
} 

@media screen and (min-width:480px) and (max-width:600px) {
    #head{
        margin-left: -175px;
        top: 17px;
        font-size: 30px;
        width: 285px;
        border: none;
        
    }
    #opt{
        display: none;
    }
    .active{
        display: none;
    }
    #but{
        margin-left: -70px;
        padding: 4px;
        width: 125px;
        top: 15px;
        display: none;
        overflow: hidden;
    }
    #secon{
        font-size: 40px;
    }
    .fa-bars{
        color: white;
        position: absolute;
        left: 410px;
        top: 19px;
        font-size: 30px;
        padding: 3px;
    }
    .servi{
        font-size: 30px;
    }
    .box{
        width: 390px;
    }
    /* .footerbox{
        width: 220px;
        position: absolute;
        left: -35px;
    }
    .footerbox2{
        width: 220px;
        position: absolute;
        left: -35px;
        top: 17%;


    }
    .ourservices{
        width: 220px;
        position: absolute;
        left: -35px;
        top: 36%;
    }
    .newsletter{
        width: 500px;
        position: absolute;
        left: -35px;
        top: 57%;

        
        
    } */
    #post-footer{
        display: flex;
        flex-direction: column;
    }
    #but2{
        position: absolute;
        left: 200px;
        top: 350px;
        border-radius: 10%;
    }
    #but2:hover{
        background: orange;
    }
    .foot{
        overflow: ;
    }
    
} 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    